{% extends 'base.html' %}

{% block extrahead %}{% endblock %}
{% block content %}


    <div class="top_2"></div>

    <div class="zym_news">
        <div class="zym_news_z">
            <dl>

                <dt><a href="#">云南省工业园区协会</a>{% if articles_category %}&nbsp;&gt;&nbsp;
                    <a href="{% url 'category' articles_category.id %}">{{ articles_category.name }}</a>{% endif %}
                <dd>
                    <div class="zym_news_t">
                        <strong>{{ object.title }}</strong><br>发布时间：{{ object.create_time|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;来源：{{ object.category.all.0.classify.name }}&nbsp;&nbsp;&nbsp;&nbsp;浏览：{{ object.visits }}
                    </div>
                    <div class="zym_news_n">
                        {{ object.content|safe }}
                    </div>
                    <div class="zym_news_xyp">
                        <a href="{{ object.previous_article.get_absolute_url }}">上一篇：{{ object.previous_article.title }}</a><a href="{{ object.next_article.get_absolute_url }}">下一篇：{{ object.next_article.title }}</a>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="zym_news_y">
            <dl>
                <dt><span>热门资讯</span></dt>
                {% for hot_information in hot_information_list %}
                    <a href="{% url 'article' hot_information.id %}">
                        <dd>{{ hot_information.title }}</dd>
                    </a>
                {% endfor %}

            </dl>
            <dl>
                <dt><span>专题</span></dt>
                {% for each in special_list %}
                <a href="{{ each.get_absolute_url }}">
                    <dd>{{ each.title }}</dd>
                </a>
                {% endfor %}

            </dl>
            <div class="zym_news_y_div"><a href="#"><img src="/static/images/zym_cf_gg1.jpg"></a></div>
        </div>
    </div>


    <div class="zym_xian"></div>

{% endblock %}