<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
  <link rel="stylesheet" href="css/index.css">
  <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/xuanxiangka.js"></script>
<title></title>
</head>

<body>
<div class="top" style="background:#0d1533;">
 <div class="top_z"><a href="#"><img src="images/logo.png" width="277" height="100" alt="云南省工业园区协会logo"></a></div>
 <div class="top_y">
  <div class="top_y1">  
   <dl>
    <dt>
     <form>
      <input type="text" class="top_ss1"><input type="submit" value="" class="top_ss2">
     </form>
    </dt>
    <dd><a href="#">民企入滇综合服务平台</a>&nbsp;&nbsp;<a href="#">标准厂房</a>&nbsp;&nbsp;<a href="#">客服</a></dd>
   </dl>
  </div>
  <div class="top_y2">
   <ul>
    <a href="#"><li>资讯中心</li></a>
    <a href="#"><li>政策法规</li></a>
    <a href="#"><li>园区快搜</li></a>
    <a href="#"><li>招商引资</li></a> 
    <a href="#"><li>标准厂房</li></a>    
   </ul>
   <a href="#"><div>云南工业园区</div></a>
  </div>
 </div>
</div>
<div class="top_2"></div>

<div class="zym_news">
 <div class="zym_news_z">
  <dl>
   <dt><a href="#">云南省工业园区协会</a>&nbsp;&gt;&nbsp;<a href="#">协会动态</a>&nbsp;&gt;&nbsp;新闻名称XXXXX</dt>
   <dd>
     <div class="zym_news_t">
     <strong>昆明开发区人才“家底”渐丰厚</strong><br>发布时间：2018-09-27&nbsp;&nbsp;&nbsp;&nbsp;来源：昆明开发区&nbsp;&nbsp;&nbsp;&nbsp;浏览：23
     </div>
     <div class="zym_news_n">
      9月14日，昆明经开区召开“情系人才”中秋国庆座谈会，对经开区第五届人才奖获得者以及全区人才工作优秀单位、优秀个人进行表彰。
　　近年来，昆明经开区依托产业优势和政策优势，吸引和培养了一批人才。据统计，目前昆明经开区各类人才总量约为3.2万人，其中经营管理类人才0.99万人，专业技术人才1.16万人，技能人才0.95万人，地区人才密度为22%，相比2016年的20.55%增长了1.45个百分点，人才“家底”日渐丰厚。同时，今年经开区有两人入选国家“万人计划”科技创新领军人才，1人获得“云岭技能大师”称号，两人获得“云岭技能工匠”称号，1人获得“云岭高端外国专家”称号。
　　2013年，昆明经开区出台人才管理服务办法，吸引了大批人才创业就业，至今共有1440人申报了高层次、高技能人才补贴，累计发放各类补贴434万元。另外，昆明经开区还制定出台了《昆明经开区民用航空业高技能人才评价激励实施办法》，填补全市乃至全省对民用航空业特殊人才评价认定的空白。积极推动人才项目引领发展，驻区企业昆明嘉和科技股份有限公司引进的外国专家大卫·马卡尔主持的项目《新型节能汞设备的研究和应用》，入选昆明市高层次人才引进工程。
　　为适应新的形势发展，日前，昆明经开区发布了《昆明经济技术开发区急需紧缺人才和高层次高技能人才引进培养办法》（下称《办法》），从覆盖范围到扶持力度，都为历来最优。《办法》涵盖了国内外顶尖人才、各级领军人才、博士、硕士、高级技术人才、紧缺专业本科人才的引进培养，并鼓励驻区企事业单位引进国内外各类人才，刚性引进人才的用人单位也可享受补贴，根据引进不同类别的人才，用人主体可获得20万元、10万元、3万元和1万元的补贴；在生活方面，引进人才还可以享受免费办理落户、子女入学、免费医疗、绿色通道等多项服务保障。
     </div>
     <div class="zym_news_xyp">
     <a href="#">上一篇：xxxx</a><a href="#">下一篇：xxxx</a>
     </div>
   </dd>
  </dl>
 </div>
 <div class="zym_news_y">
  <dl>
   <dt><span>热门资讯</span></dt>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
  </dl>
  <dl>
   <dt><span>专题</span></dt>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
  </dl>
  <div class="zym_news_y_div"><a href="#"><img src="images/zym_cf_gg1.jpg"></a></div>
 </div>
</div>

 
<div class="zym_xian"></div>

<div class="wei"><div class="wei_n">
 <div class="wei_01">
  <div class="wei_01z">
   <dl>
    <dt>关于协会</dt>
    <dd><a href="#">01 协会简介</a><a href="#">02 协会章程</a><a href="#">03 业务范围</a><a href="#">04 入会申请</a><a href="#">05 联系协会</a></dd>
   </dl>
  </div>
  <div class="wei_01y">
   <dl>
    <dt>
    <ul>
    <li id="tow41" onClick="setTab('tow4',1,4)" class="hover">友情链接</li>
    <li id="tow42" onClick="setTab('tow4',2,4)">政府机关</li>
    <li id="tow43" onClick="setTab('tow4',3,4)">行业协会</li>
    <li id="tow44" onClick="setTab('tow4',4,4)">其他</li>
    </ul>
    </dt>
    <dd id="con_tow4_1"><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
        <dd id="con_tow4_2" style="display:none;"><a href="#">中国高新区协2会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
            <dd id="con_tow4_3" style="display:none;"><a href="#">中国高新区协3会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
                <dd id="con_tow4_4" style="display:none;"><a href="#">中国高新区协4会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
   </dl>
  </div>
 </div>
 <div class="wei_02">
  <a href="#">云南省开发区协会</a> | <a href="#">中国开发区网</a>  |   网站徽标 |  指导单位 |  网站服务 |  联系我们<br>
  滇ICP备13007023号 <img src="images/w_a3.jpg"> 滇公网安备 11010102002114号<br>
  主办单位：中国开发区协会 Copyright©2000-2014
 </div>
</div></div>

</body>
</html>
