<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
  <link rel="stylesheet" href="css/index.css">
  <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/xuanxiangka.js"></script>
<title></title>
</head>

<body>
<div class="top" style="background:#0d1533;">
 <div class="top_z"><a href="#"><img src="images/logo.png" width="277" height="100" alt="云南省工业园区协会logo"></a></div>
 <div class="top_y">
  <div class="top_y1">  
   <dl>
    <dt>
     <form>
      <input type="text" class="top_ss1"><input type="submit" value="" class="top_ss2">
     </form>
    </dt>
    <dd><a href="#">民企入滇综合服务平台</a>&nbsp;&nbsp;<a href="#">标准厂房</a>&nbsp;&nbsp;<a href="#">客服</a></dd>
   </dl>
  </div>
  <div class="top_y2">
   <ul>
    <a href="#"><li>资讯中心</li></a>
    <a href="#"><li>政策法规</li></a>
    <a href="#"><li>园区快搜</li></a>
    <a href="#"><li>招商引资</li></a> 
    <a href="#"><li>标准厂房</li></a>    
   </ul>
   <a href="#"><div>云南工业园区</div></a>
  </div>
 </div>
</div>
<div class="top_2"></div>

<div class="zym_news">
 <div class="zym_news_z">
  <dl>
   <dt><a href="#">云南省工业园区协会</a>&nbsp;&gt;&nbsp;<a href="#">协会动态</a>&nbsp;&gt;&nbsp;新闻名称XXXXX</dt>
   <dd>
    <ul>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
     <a href="#"><li><span><i></i>新闻名称新闻名称新闻名称新闻名称XXX</span><em>2018-08-20</em></li></a>
    </ul>
    <div class="zym_fy">分页</div>
   </dd>
  </dl>
 </div>
 <div class="zym_news_y">
  <dl>
   <dt><span>热门资讯</span></dt>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
  </dl>
  <dl>
   <dt><span>专题</span></dt>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
   <a href="#"><dd>《中国开发区审核公告目录》（2018年版）..</dd></a>
  </dl>
  <div><a href="#"><img src="images/zym_cf_gg1.jpg"></a></div>
 </div>
</div>

 
<div class="zym_xian"></div>

<div class="wei"><div class="wei_n">
 <div class="wei_01">
  <div class="wei_01z">
   <dl>
    <dt>关于协会</dt>
    <dd><a href="#">01 协会简介</a><a href="#">02 协会章程</a><a href="#">03 业务范围</a><a href="#">04 入会申请</a><a href="#">05 联系协会</a></dd>
   </dl>
  </div>
  <div class="wei_01y">
   <dl>
    <dt>
    <ul>
    <li id="tow41" onClick="setTab('tow4',1,4)" class="hover">友情链接</li>
    <li id="tow42" onClick="setTab('tow4',2,4)">政府机关</li>
    <li id="tow43" onClick="setTab('tow4',3,4)">行业协会</li>
    <li id="tow44" onClick="setTab('tow4',4,4)">其他</li>
    </ul>
    </dt>
    <dd id="con_tow4_1"><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
        <dd id="con_tow4_2" style="display:none;"><a href="#">中国高新区协2会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
            <dd id="con_tow4_3" style="display:none;"><a href="#">中国高新区协3会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
                <dd id="con_tow4_4" style="display:none;"><a href="#">中国高新区协4会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a><a href="#">中国高新区协会  |  </a></dd>
   </dl>
  </div>
 </div>
 <div class="wei_02">
  <a href="#">云南省开发区协会</a> | <a href="#">中国开发区网</a>  |   网站徽标 |  指导单位 |  网站服务 |  联系我们<br>
  滇ICP备13007023号 <img src="images/w_a3.jpg"> 滇公网安备 11010102002114号<br>
  主办单位：中国开发区协会 Copyright©2000-2014
 </div>
</div></div>

</body>
</html>
