{% extends 'base.html' %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="top_2"></div>

    <div class="zym_fl">
        <dl>
            <dt><span>地区</span></dt>
            <dd>
                <a href="/park/investment?region=&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}"
                   class="hover">全部</a>

                {% for item in region_list %}

                    <a href="/park/investment?region={{ item.name }}&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}">{{ item.name }}</a>

                {% endfor %}
            </dd>
        </dl>
        <dl>
            <dt><span>园区</span></dt>
            <dd>
                <a href="/park/investment?region={{ addr.region }}&park=&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}"
                   class="hover">全部</a>
                {% for item in category_list %}
                    <a href="/park/investment?region={{ addr.region }}&park={{ item.name }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}">{{ item.name }}</a>

                {% endfor %}
            </dd>
        </dl>
        <dl>
            <dt><span>面积</span></dt>
            <dd><a href="/park/investment?region={{ addr.region }}&park={{ addr.park }}&area_s=&area_e=&industry={{ addr.industry }}" class="hover">不限</a>
                {% for item_s,item_e in area %}
                    <a href="/park/investment?region={{ addr.region }}&park={{ addr.park }}&area_s={{ item_s }}&area_e={{ item_e }}&industry={{ addr.industry }}">{% if item_s %}{{ item_s }}㎡{% endif %}{% if item_s and item_e %}-{% endif %}{% if item_e %}{{ item_e }}㎡{% endif %}{% if item_s == 0 %}以下{% elif item_e == 0 %}以上{% endif %}</a>
                {% endfor %}
            </dd>

        </dl>
        <dl>
            <dt><span>行业</span></dt>
            <dd><a href="/park/investment?region={{ addr.region }}&park={{ addr.park }}&area_s=&area_e=&industry=" class="hover">不限</a>

                {% for item in industry_list %}
                <a href="/park/investment?region={{ addr.region }}&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ item }}">{{ item }}</a>
                {% endfor %}

            </dd>
        </dl>
        <div class="zym_soso">
            <form action="{% url 'investment' %}">
                <input type="text" class="top_ssz1" value="请搜索" name="q"><input type="submit" value="" class="top_ssz2">
            </form>
        </div>
    </div>
    <div class="zym_xian"></div>

    <div class="zym_cf">
        <div class="zym_cfn">
            <div class="zym_cf_z">
                <ul>
                    {% for item in object_list.object_list %}

                    <li>

                        <a href="{% url 'investment_detail' item.id %}"><img src="/static/images/zym_cf_img1.jpg" width="120" height="96" alt="名称"></a>
                        <span>
      <a href="{% url 'investment_detail' item.id %}"><strong>{{ item.name }}  <em>{{ item.name }}</em></strong></a><br><br>
州市：{{ item.region }}&nbsp;&nbsp;&nbsp;&nbsp;行业类型：{{ item.industry }} <br>
项目主办单位：{{ item.master }}
     </span>
                    </li>

                    {% endfor %}

                    <div class="zym_fy">分页</div>

                        {# 上一页 #}
        {% if object_list.has_previous %}
            <div class="zym_fy" tabindex="-1" ><a href="/park/investment?page={{ object_list.previous_page_number }}&region={{ addr.region }}&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}&q={{ addr.q }}">上一页</a></div>
        {% else %}
            <div class="zym_fy" tabindex="-1">上一页</div>
        {% endif %}

        {# 所有页 #}
        {% for  number in page_range %}
            <div class="zym_fy"  href="/park/investment?page={{ number }}&region={{ addr.region }}&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}&q={{ addr.q }}">{{ number }}</div>
        {% endfor %}
        {# 下一页 #}
        {% if object_list.has_next %}
            <div class="zym_fy"><a  href="/park/investment?page={{ object_list.next_page_number }}&region={{ addr.region }}&park={{ addr.park }}&area_s={{ addr.area_s }}&area_e={{ addr.area_e }}&industry={{ addr.industry }}&q={{ addr.q }}">下一页</a></div>
        {% else %}
            <div class="zym_fy">下一页</div>

        {% endif %}
       {# above 分页 #}
                </ul>

            </div>
            <div class="zym_cf_y">
                <div class="zym_cf_y1">
                    <a href="#"><i><img src="/static/images/zym_cf_kf2.jpg"></i></a>
                    <strong>*如果您没找到合适的厂房，<br>
                        您还可以联系协会发布</strong><br>
                    <br>
                    园区协会邮箱：gyyqxh@163.com<br>
                    客服热线：0871-63398942<br>
                    <a href="#"><img src="/static/images/zym_cf_a1.jpg"></a>
                </div>
                <div class="zym_cf_y2">
                    <a href="#"><img src="/static/images/zym_cf_gg1.jpg"></a>
                </div>
                <div class="zym_cf_y2">
                    <a href="#"><img src="/static/images/zym_cf_gg1.jpg"></a>
                </div>
            </div>
            <div class="zym_xian"></div>
        </div>
    </div>


{% endblock %}